# Gradle
.gradle/
build/

# Compiled Java classes
bin/
*.class

# Eclipse
.settings/
.project
.classpath
.factorypath

# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# VS Code
.vscode/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db
